/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Global CSS */
:root {
    --color-base: #E5E5E5;
    --color-fondo: #FFFF;
    --color-primario: #0a3871;
    --color-borde: #C5C5C5;
    --color-texto-medio: #67808E;
    --color-superposicion: rgba(0, 0, 0, 0.8);
    --color-resaltado: #D8DFE8;
    --color-acento: #0A38718A;
    --color-texto-oscuro: #343A40;
    --color-texto-claro: #495057;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    background-color: var(--color-fondo);
}

::selection {
    background: var(--color-primario);
    color: var(--color-fondo);
}

body {
    height: 100%;
}

img {
    max-width: 100%;
}

/* Encabezado */
header {
    position: absolute;
    margin: 40px 0px 0px 40px;
}

header .logo {
    display: flex;
    align-items: flex-start;
    width: 120px;
    height: 48px;
}

/* Principal */
main {
    display: flex;
    flex-direction: row;
    background: url('./img/Portada1.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.encriptador {
    width: 60%;
    margin: 168px 0px 0px 140px;
    background: transparent;
}

.encriptar {
    width: 660px;
    height: 288px;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    outline: none;
    border: 1px solid var(--color-borde);
    border-radius: 15px;
    resize: none;
}

.encriptar::placeholder,
:focus {
    color: var(--color-primario);
}

.encriptador-aviso {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    position: absolute;
    top: 500px;
}

.texto-aviso {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    opacity: 0.8;
    color: var(--color-texto-medio);
}

.encriptador-contenedor {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
    top: 526px;
}

.btn-encriptar {
    width: 328px;
    height: 67px;
    padding: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--color-fondo);
    background: var(--color-primario);
    border: 1px solid var(--color-primario);
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 20px 29px -5px var(--color-superposicion);
}

.btn-encriptar:active {
    box-shadow: inset 2px 2px 4px var(--color-base);
    color: var(--color-resaltado);
}

.btn-desencriptar {
    width: 328px;
    height: 67px;
    padding: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--color-primario);
    background: var(--color-resaltado);
    border: 1px solid var(--color-primario);
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 20px 29px -5px var(--color-superposicion);
}

.btn-copiar {
    width: 224px;
    height: 67px;
    margin: 23px;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    padding: 24px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background: var(--color-resaltado);
    border: 1px solid var(--color-primario);
    border-radius: 20px;
    cursor: pointer;
}

.btn-copiar:active {
    box-shadow: inset 2px 2px 4px var(--color-primario);
    color: var(--color-acento);
}

.btn-desencriptar:active {
    box-shadow: inset 2px 2px 4px var(--color-primario);
    color: var(--color-acento);
}

.tarjeta {
    width: 270px;
    height: 580px;
    background: var(--color-base);
    box-shadow: 10px 24px 32px -8px var(--color-texto-oscuro);
    position: relative;
    margin-top: 40px;
    border-radius: 32px;
    text-align: center;
}

.tarjeta-contenedor {
    width: 250px;
    margin: auto;
    margin-top: 50%;
    background: var(--color-base);
}

.img-muñeco {
    background-color: var(--color-base);
}

.texto-uno {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: var(--color-texto-oscuro);
    background: var(--color-base);
}

.texto-dos {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: var(--color-texto-medio);
    background: var(--color-base);
}

.evaluar {
    width: 100%;
    height: 485px;
    position: absolute;
    padding: 20px;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: var(--color-texto-claro);
    background: transparent;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    border: none;
    resize: none;
}

.evaluar:focus {
    outline: none;
}

.btn-encriptar:hover,
.btn-desencriptar:hover,
.btn-copiar:hover {
    transform: scale(0.97);
}

/* Pie de página */
footer {
    margin-top: 15px;
    padding: 10px;
    border-top: 2px solid var(--color-base);
    color: var(--color-texto-oscuro);
    text-align: center;
    height: 5px;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-texto-oscuro);
}

/* Media */
@media (max-width: 1250px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .encriptador {
        margin: 168px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .encriptador-contenedor {
        display: flex;
        align-items: center;
        position: inherit;
    }

    .encriptador-aviso {
        position: inherit;
        margin: 15px;
    }

    .tarjeta {
        width: 665px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .tarjeta-contenedor {
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        bottom: 20%;
        font-size: 24px;
        font-weight: 700;
    }

    .img-muñeco {
        display: none;
    }

    .btn-copiar {
        position: inherit;
        width: 100%;
    }

    .evaluar {
        width: 100%;
        height: 210px;
        padding: 10px;
    }
}

@media (max-width: 720px) {
    header.logo {
        width: 100%;
        background: var(--background-color);
        padding: 2px;
    }

    .encriptar {
        width: 90%;
        font-size: 24px;
    }

    .encriptador-contenedor {
        display: grid;
        gap: 21px;
    }

    .tarjeta {
        width: 90%;
    }

    .copyright {
        font-size: 20px;
    }
}